@{
    ViewBag.Title = "Home Page";
}

<main>
    

    <div class="row" >
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">Welcome to Relevantz Training Management</h2>
            <p>
                This Training Management gives effective sotware building skills to equip yourself
                
            </p>
           
        </section>
       
    </div>
</main>
<style>
    body {
        background-image: url("https://www.shutterstock.com/image-photo/customer-satisfaction-survey-concept-users-600nw-2267328539.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
    }

    td {
        color: white;
    }

    dd {
        color: white;
    }
</style>